.nav-top {
  background-color: #34495e;
  padding: 15px;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-top li {
  margin-right: 20px;
}

.nav-top a {
  color: #ecf0f1;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-top a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #ecf0f1;
}
